@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "WhyteInktrap-Regular";
  src: url("../src/assets/fonts/WhyteInktrap-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "WhyteInktrap-MediumItalic";
  src: url("../src/assets/fonts/WhyteInktrap-MediumItalic.ttf")
    format("truetype");
}
@font-face {
  font-family: "WhyteInktrap-Medium";
  src: url("../src/assets/fonts/WhyteInktrap-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "WhyteInktrap-Bold";
  src: url("../src/assets/fonts/WhyteInktrap-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "WhyteInktrap-Heavy";
  src: url("../src/assets/fonts/WhyteInktrap-Heavy.ttf") format("truetype");
}
@font-face {
  font-family: "Delvona-Bold";
  src: url("../src/assets/fonts/Delvona-Bold.ttf") format("truetype");
}

* {
  font-family: "WhyteInktrap-Regular";
}

.herogreen {
  background: radial-gradient(#73e0a9, #000000);
}
.heroviolet {
  background: radial-gradient(#5b68df, #000000);
}

.radioSelect input[type="radio"]:checked + .select-label {
  /* Style changes for the label when the adjacent radio input is checked */
  background-color: #000;
  color: #fff;
  z-index: 10;
}

.hero {
  background-image: radial-gradient(
    farthest-corner at 40px 40px,
    #000000 0%,
    #097756 100%
  );


}
